.example-spacer {
    flex: 1 1 auto;
}

.header a, .header a  {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-bottom: 7px;
}

.kratos-mini {
    margin-top: 10px;
    max-height: 70px;
}

.title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 10px;
}

.login {
    margin-right: 5vh;
}