<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD - MongoDB</title>
  </head>
  <body>
     <form method='GET' action="/cep">
        <div>
            <div >
                <h2>Digite o Cep para buscar a temperatura</span>
            </div>
            <div >
                <input type="text" id="city" name="city" />
            </div>
        </div>
        </br>
        <div >
            <input type="submit" value="Entre com o CEP" />
        </div>
         </br>
         <div >
            <button><a href="/add">Add cidade</a></button>
        </div>
        </div>
    </form>

   
    
   
  
  </body>
</html>

