<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD - MongoDB</title>
  </head>
  <body>
   <form method='POST' action="/create">
  <h2>Adicionar nova cidade</h2>
    <div >
      <input type="text" id="cidade" name="cidade" />
    </div>
     </br>
    <div >
        <input type="text" id="temp" name="temp" />
    </div>
     </br>  
    <div >
            <button>Add cidade</button>
    </div>
      </form>
  </body>
</html>
