<div class="products-container">
  <select class="select" #selectProduct (change)="onOptionsSelected(selectProduct.value)">
    <option *ngFor="let product of products" [value]="product._id">
      {{ product.descricao }}
    </option>
  </select>

  <div class="btn-amount">
    <h3 class="label">Quantidade:</h3>
    <input
      placeholder="0"
      type="number"
      name="amount"
      id="amount"
      min="1"
      max="100"
      (change)="onQuantitySelected($event)"
    />
    <button class="btn-add" (click)="addProduct()">Inclui item</button>
  </div>
</div>
