<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD - MongoDB</title>
  </head>
  <body>
    <h3>Cadastrar<h2>
    <form action="/" method="POST">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="CPF" name="cpf">
        <br />
        <button type="submit">Adicionar</button>
        <button><a href="/list">Listar cadastrados</a></button>
    </form>
  </body>
</html>

